.table-container {
  border: 2px solid black;
  width: 100%;
  height: 70vh;
  min-height: 20vh;
  background-color: azure;
}

.main-container-desktop {
    position: absolute !important;
    left: 14.5vw !important;
}

.container-desktop-enployee {
    position: relative !important;
}

@media (max-width: 768px) {
    .table-container {
        overflow-x: auto;
        max-width: 100%; /* Adjust max-width to your desired width */
    }
    .responsive {
        width: 100vw !important;
        
    }
}

.responsive {
    width: 84vw !important;
}

.table-container {
    overflow-x: auto;
    max-width: 83vw !important; /* Adjust max-width to your desired width */
    margin-top: 2vh;
}

.report-table {
    width: max-content;
    border-collapse: collapse;
    table-layout: fixed;
}

textarea {
    padding: 0;
}

.report-table th, .report-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.report-table th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 999;
}

.report-table textarea {
  width: 100%; /* Makes the textarea fill the cell width */
  height: 100%; /* Makes the textarea fill the cell height */
  padding: 0; /* Adds padding for better text visibility */
  margin: 0;
  border: none;
  box-sizing: border-box;
  resize: none; /* Disables textarea resizing */
  overflow: hidden; /* Hides overflow to prevent scrollbars inside the textarea */
}