.bg-container {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

#modal-body {
  margin-right: 10px;
}

#modal-body::-webkit-scrollbar {
  width: 10px;
}

td textarea {
  flex-wrap: wrap; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure word breaks */
  word-break: break-word; /* Allow word breaks within the text */
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

#modal-body::-webkit-scrollbar-track {
  background: peachpuff;
  border-radius: 10px;
}

#modal-body::-webkit-scrollbar-thumb {
  background-color: sandybrown;
  border-radius: 10px;
}

.sw-form:hover {
  cursor: pointer;
}

.task-div {
  width: 55vw;
  height: 100%;
  border-right: 2px solid black;
  padding: 15px;
  overflow-y: auto;
  padding-right: 2vw;
  overflow-x: hidden;
}

.yellow {
  color: #EEBE23;
  font-weight: bolder;
  text-shadow: black 1px 1px;
}

.bg-yellow {
  background-color: #EEBE23;
}

.lime {
  color: limegreen;
  font-weight: bolder;
  text-shadow: black 1px 1px;
}

.Green {
  color: limegreen !important;
  font-weight: bolder;
}

.bg-lime {
  background-color: limegreen;
}

.orangered {
  color: orangered;
  font-weight: bolder;
  text-shadow: black 1px 1px;
}

.RedOrange {
  color: orangered !important;
  font-weight: bolder;
}

.bg-orangered {
  background-color: orangered;
}

.black {
  color: black;
}

#sidenavlink li {
  list-style: none;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#sidenavlink li a {
  text-decoration: none;
  padding-left: 10px;
  text-align: left;
}

#sidenavlink {
  padding: 0;
  margin-top: 3vh;
}

.dashboard-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 0;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2vh;
}

#name {
  font-size: 1.2rem;
  font-family: serif;
  font-weight: bolder;
  margin-top: 10px;
}

#hr {
  width: 100%;
  height: 3px;
  border-top: 3px solid black;
}

#justify-tab-example-tab-home.nav-link.active {
  background-color: #97c5dc !important;
}

#justify-tab-example-tab-profile.nav-link.active {
  background-color: #f9ffb6 !important;
}

#justify-tab-example-tab-Calendar.nav-link.active {
  background: #81d3fe !important;
}

#justify-tab-example-tab-progress.nav-link.active {
  background-color: #c6fecd !important;
}

.side-link:hover {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(237, 3, 32, 0.87) 20.8%, rgba(242, 121, 1, 0.84) 74.4%);
}

.active {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

tbody[role="presentation"] {
  height: 79vh !important;
}

tr.fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid[role="presentation"] {
  height: 78vh !important;
}

div.fc-daygrid-body.fc-daygrid-body-unbalanced, table.fc-scrollgrid-sync-table[role="presentation"] {
  width: 100% !important;
}

.fc .fc-toolbar-title {
  padding: 10px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  height: 79% !important;
}

div.fc-dayGridMonth-view {
  height: 87vh !important;
}

.calendar-container {
  height: 400px !important;
  width: 100%;
}

.fc .fc-scroller-harness-liquid {
  height: 79vh !important;
}

div.fc-daygrid-body.fc-daygrid-body-unbalanced, table.fc-scrollgrid-sync-table[role="presentation"] {
  width: 100% !important;
}

div.fc-daygrid-body.fc-daygrid-body-unbalanced {
  height: 100%;
}

a.fc-daygrid-day-number {
  text-decoration: none;
}

table.fc-scrollgrid.fc-scrollgrid-liquid {
  height: 79vh !important;
}

a.fc-col-header-cell-cushion {
  text-decoration: none;
}

thead th {
  position: relative;
  margin: 0;
  padding: 0;
}

.arrow-up::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.fixed-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

.fixed-image img {
  width: 50px;
  height: auto;
}

/* Burger Menu Styles */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 10px;
}

.burger-bar {
  width: 100%;
  height: 3px;
  background-color: black;
}

.burger-menu.open .burger-bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Sidebar Styles */
.sidebar {
  width: 15vw;
  left: 0;
  z-index: 9998;
  position: fixed;
  height: 100%;
  background: linear-gradient(92.7deg, rgba(245, 212, 212, 1) 8.5%, rgba(252, 251, 224, 1) 90.2%);
  border-right: 3px solid black;
  border-left: 3px solid black;
  overflow-y: hidden;
  height: 100vh;
}

.sidebar.open {
  transform: translateX(0);
}

.hide-on-small {
    display: flex !important;
}

.show-on-small {
    display: none;
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
  .sidebar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    width: fit-content;
    z-index: 9998;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(92.7deg, rgba(245, 212, 212, 1) 8.5%, rgba(252, 251, 224, 1) 90.2%);
    border-right: 3px solid black;
    border-left: 3px solid black;
    overflow-y: hidden;
  }

  .hide-on-small {
    display: none !important;
  }

  .show-on-small {
    display: flex !important;
    flex-direction: column;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .burger-menu {
    display: flex;
    position: fixed;
    z-index: 9999;
  }

  .sidebar {
    width: 40%;
    z-index: 9998 !important;
  }

  .nav-links {
    padding-left: 20px;
    padding-right: 20px;
  }

  #dashboard {
    position: absolute;
    left: 0;
  }

  #justify-tab-example-tabpane-progress, #justify-tab-example-tabpane-home {
    position: absolute !important;
    left: 0 !important;
    width: 100vw !important;
    margin-top: 40px !important;
  }

  .tab-full {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    display: block !important;
  }

  #task-card {
    width: 80vw !important;
  }

  #newTask-cont {
    width: 100vw;
    flex-direction: column !important;
  }

  #tasktable, #tasktable-cont, #project-table {
    width: 100% !important;
    margin-left: 0 !important;
  }

  @media (max-width: 561px) {
    #unique-project-table th:nth-child(2),
    #unique-project-table td:nth-child(2) {
      display: none;
    }
  }

@media (max-width: 680px) {   
    #employee-table th:nth-child(4),
    #employee-table td:nth-child(4) {
        display: none;
    }
}

@media (max-width: 470px) {   
    #employee-table th:nth-child(2),
    #employee-table td:nth-child(2) {
        display: none;
    }
}

  #newTasks-main {
    display: flex;
    flex-direction: column !important;
    width: 100vw !important;
    position: absolute !important;
    height: fit-content !important;
    justify-content: center !important;
  }

  #newTask {
    width: 100vw !important;
  }

  #newEmployees-cont {
    width: 100%;
    margin-left: 0 !important;
    flex-direction: column !important;
  }

  #emp-table-cont, #newEmployees-cont {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  #Chatroom-container {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .user-list-container {
    width: 30% !important;
    overflow-y: auto;
  }

  #chat-box {
    width: 93% !important;
    height: 95% !important;
  }

  #login {
    width: 80% !important;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #username {
    width: 76% !important;
  }
}

#newTask {
  display: flex !important;
  flex-direction: column !important;
}

/* Media query for small devices (max-width: 431px) */
@media (max-width: 431px) {
  #username {
    width: 100% !important;
  }

  .swal-mobile .swal-title {
    font-size: 0.4rem !important;
  }

  .swal-mobile .swal-text {
    font-size: 0.2rem !important;
  }

  .swal-mobile .swal-popup {
    max-width: 250px !important;
    padding: 10px !important;
    margin: 20px auto !important;
  }

  #thisModal {
    width: 96vw !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }

  #task-card {
    height: fit-content !important;
  }

  .tab-content {
    width: 100vw !important;
    left: 0 !important;
  }

  .justify-tab-example-tabpane-home {
    width: 100vw !important;
    display: flex !important;
    justify-content: center !important;
  }

  #sorts, .Card-container {
    width: 100vw !important;
  }
}

/* Media query for medium devices (min-width: 432px) and small devices (max-width: 767px) */
@media (max-width: 767px) {
  #username {
    width: 76% !important;
  }

  .justify-tab-example-tabpane-home {
    width: 100vw !important;
    display: flex !important;
    justify-content: center !important;
  }

  #sorts, .Card-container {
    width: 100vw !important;
  }

  .swal-mobile .swal-title {
    font-size: 0.4rem !important;
  }

  .swal-mobile .swal-text {
    font-size: 0.2rem !important;
  }

  .swal-mobile .swal-popup {
    max-width: 250px !important;
    padding: 10px !important;
    margin: 20px auto !important;
  }

  #thisModal {
    width: 96vw !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }

  #task-card {
    height: fit-content !important;
    margin-right: 0 !important;
  }

  .tab-content, #tab-displaycard {
    width: 100vw !important;
    left: 0 !important;
  }

  #refund_cont {
    display: flex !important;
    flex-direction: column !important;
  }
}

/* Media query for large devices (min-width: 768px) and small devices (max-width: 1390px) */
@media (min-width: 768px) and (max-width: 1390px) {
  #username {
    width: 93% !important;
  }
}

/* Media query for large devices (min-width: 768px) and small devices (max-width: 1390px) */
@media (max-width: 442px) {
    #task_profile {
        display: none !important;
    }

    #task_date {
        display: inline-block !important;
    }

    #project-modal-body {
        width: 100% !important;
    }

    #project-task-modal,  #project-task-modal div {
        margin: 0 !important;
        flex-direction: column !important;
        justify-content: center;
    }

    #report-buttons {
        flex-direction: column !important;
        width: 60vw !important;
    }

    #attachment-link {
        display: flex;
        flex-direction: column;
        width: 90% !important;
    }
}

.unique-table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.unique-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.unique-table td, .unique-table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

@media (max-width: 1000px) {
  .unique-table-container {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on touch devices */
  }

  .unique-table {
    min-width: 900px; /* Ensure the table is wider than the viewport */
  }
}


@media (max-width: 700px) {
    .task-table th:nth-child(3),
    .task-table td:nth-child(3) {
        display: none;
    }

    .task-table tr {
        font-size: 0.8rem !important;
    }

    #reports-select {
        flex-direction: column !important;
    }
}


@media (max-width: 532px) {
  .unique-task-table th:nth-child(3),
  .unique-task-table td:nth-child(3) {
    display: none;
  }

  .unique-task-table th:nth-child(2),
  .unique-task-table th:nth-child(2) {
    width: fit-content !important;
  }
}

/* CSS for the table */
/* Basic table styles */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  padding: 0;
  overflow: visible !important; /* Ensure content is contained within cells */
  position: relative; /* Position context for absolute positioning */
  height: auto !important;
}

td textarea {
  width: 100%;
  height: auto !important;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  background: white;
  transition: all 0.3s ease;
  text-align: center;
  overflow: visible !important;
}

/* Expand textarea on focus */
td textarea:focus {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 20px); /* Allow more space on both sides */
  height: auto; /* Allow height to expand based on content */
  z-index: 10;
  background: white;
  padding: 10px;
  border: 1px solid black;
  margin: -1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sent {
  display: flex;
  background-color: #007bff;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  align-self: flex-end; /* Align sent messages to the right */
  margin-bottom: 5px;
  max-width: 50%; /* Limit message width to 50% of container */
  width: fit-content !important;
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Ensure content wraps within container */
  word-break: break-word; /* Break words when necessary */
}

.received {
  width: fit-content !important;
  padding: 5px;
  border-radius: 10px;
  background-color: peachpuff;
  color: #333;
  text-align: left;
  align-self: flex-start; /* Align received messages to the left */
  margin-bottom: 5px;
  max-width: 50%; /* Limit message width to 50% of container */
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Ensure content wraps within container */
  word-break: break-word; /* Break words when necessary */
}

.align-left {
  align-self: flex-start;
}

.align-right {
  align-self: flex-end;
}

@media (max-width: 700px) {
  #proj-message-cont {
    height: 400px !important;
  }

  .hide-on-small {
    display: none !important;
  }
}

.textarea-input {
  height: 40px; /* Set the fixed height */
  width: 70%; /* Adjust the width as needed */
  resize: none; /* Disable resizing */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* Ensure the td element grows with the content */
.td-fit-content {
    height: fit-content !important;
    overflow: visible !important;
    white-space: nowrap !important;
}

/* Style the textarea to grow with its content */
.textarea-fit-content {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    resize: none !important;
    overflow-y: hidden !important; /* Prevent scrollbar from appearing */
}

/* Optional: Add some padding to the table cells for better visual */
.table-cell {
    padding: 0.5rem ;
}

/* Remove borders from input and center the text */
.input-date {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}